.additional-products {
  margin-bottom: 35px;
  position: relative;
}

.additional-products::before {
  position: absolute;
  content: "";
  width: 17vw;
  height: 3px;
  top: 0;
  left: 83%;
  background-color: #68b738;
}

.additional-products__header {
  margin: 0;
  position: absolute;
  top: -13px;
  line-height: 1;
  font-size: $font-24;
  font-weight: normal;
}

.additional-products__list {
  @include list-reset;
  padding-top: 47px;
  margin-bottom: 39px;
  position: relative;
}

.additional-products__list::before {
  width: 280px;
  height: 1px;
  position: absolute;
  content: "";
  top: 45px;
  left: 0;
  background-color: #cccccc;
}

.additional-products__item {
  padding-bottom: 17px;
  border-bottom: 1px solid #cccccc;
}

.additional-products__item-header {
  margin: 9px 0;
  font-weight: normal;
  text-transform: uppercase;
}

.additional-products__options {
  margin: 5px 0 14px;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
