.button {
  width: 280px;
  padding: 10px;
  display: inline-block;
  font-size: $font-16;
  line-height: 1.25;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  color: $white;
}

.button--green {
  background-color: $green-leaf;
}

.button__grey {
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
}

.button__grey-background {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: $grey-back;
  border: none;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .button {
    line-height: 1;
  }

  .button--send {
    width: 283px;
    padding: 16px;
    font-size: $font-20;
  }
}

@media (min-width: $desktop-width) {
  .button--send {
    width: 568px;
  }
}
