.contacts {
  position: relative;
  min-height: 476px;
  margin-bottom: 38px;
}

.contacts__header {
  background-color: $white;
}

.contacts__wrapper {
  @include w-280;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  @include zero;
  padding: 28px 0 25px;
}

.contacts__offer {
  @include fs-16;
  @include fw-n;
  @include upper;
  width: 125px;
}

.contacts__address {
  @include Arial;
  width: 135px;
  line-height: 1.43;
  padding-right: 5px;
}

.contacts__map {
  @include t-center;
  position: absolute;
  width: 100%;
  top: 76px;
  z-index: -2;
}

.contacts__map img {
  background-color: #eeedeb;
  height: 400px;
}
