.example-slider {
  padding-top: 15px;
  background-color: $grey-back;
}

.example-slider__wrapper {
  width: $mobile-width;
  margin: 0 auto;
}

.example-slider__list {
  @include list-reset;
  padding-bottom: 35px;
}

.example-slider__item {
  width: 320px;
  height: 240px;
  display: none;
}

.example-slider--choosen {
  display: block;
}

.example-slider__controllers {
  margin: 0 auto;
  position: relative;
}

.example-slider__buttons {
  position: absolute;
  top: -3px;
  font-size: $font-16;
  text-transform: uppercase;
}

.example-slider__before {
  left: 63px;
}

.example-slider__after {
  left: 221px;
}

.example-slider__navigation {
  width: 84px;
  height: 14px;
  margin: 0 auto;
  padding: 3px 6px;
  box-sizing: border-box;
  display: flex;
  border-radius: 6px;
  border: solid 1px $border-d;
  background-color: $white;
}

.example-slider__controller {
  width: 35px;
  height: 6px;
  border: none;
  border-radius: 3px;
  background-color: #ffffff;
}

.example-slider--checked {
  background-color: #68b738;
}
