.loader {
  text-align: center;
  border-bottom: 1px solid $border-c;
  padding-bottom: 0;
}

.loader__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.loader__header {
  @include indents-reset;
  width: 205px;
  padding-top: 22px;
  position: relative;
  font-size: $font-16;
  font-weight: normal;
  text-transform: uppercase;
}

.loader__load-icon {
  padding-top: 27px;
  opacity: 0.2;
  stroke: $black;
  stroke-width: 3;
}

.loader__description {
  @include indents-reset;
  padding-top: 8px;
  margin-bottom: 21px;
  font-size: $font-12;
  font-family: "Arial", sans-serif;
}

.loader__load-more {
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .loader {
    padding-bottom: 0;
    background-color: $white;
    border: 1px solid $border-c;
  }

  .loader__header {
    padding-top: 50px;
    width: 178px;
    font-size: $font-20;
  }

  .loader__load-icon {
    padding-top: 52px;
    width: 60px;
    height: 60px;
    stroke-width: 1;
  }

  .loader__description {
    width: 170px;
    padding-top: 24px;
    margin-bottom: 82px;
    font-size: $font-16;
  }

  .loader__load-more {
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .loader__load-more {
    width: 168px;
  }

  .loader__header {
    width: 170px;
    padding-top: 48px;
  }

  .loader__load-icon {
    padding-top: 56px;
    stroke-width: 0.5;
}
