.main-nav {
  @include none;
  position: relative;

  &__toggle {
    position: absolute;
    width: 35px;
    height: 29px;
    top: -44px;
    left: 280px;
  }

  &__list {
    @include none;
    @include zero;
  }

  &__item {
    @include t-center;
  }

  &__link {
    @include black-three;
    @include no-decoration;
    @include block;
    @include fs-20;
    border-top: 1px solid $border-c;
    padding: 22px;
  }
}
