.main-nav__list {
  @include list-reset;
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  padding: 22px;
  display: block;
  box-sizing: border-box;
  font-size: $font-20;
  line-height: 1;
  text-decoration: none;
  color: $black-three;
  border-top: 1px solid $border-c;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
  }

  .main-nav__list {
    width: 440px;
    min-height: 59px;
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .main-nav__link {
    padding: 0;
    padding-bottom: 8px;
    font-size: $font-18;
    line-height: 1.39;
    border: none;
  }

  .main-nav__link--active {
    border-bottom: 2px solid $green-leaf;
  }

  .main-nav__link-main--active {
    border-bottom: 2px solid $green-leaf;
  }

  .main-nav__link:hover {
    opacity: 0.6;
  }

}

@media (min-width: $desktop-width) {
  .main-nav__list {
    min-width: 478px;
    min-height: 60px;
    padding-top: 12px;
    box-sizing: border-box;
  }

  .main-nav__link {
    padding-bottom: 8px;
    font-size: $font-20;
    line-height: 1.25;
  }

  .main-nav__link-main {
    color: $white;
  }

  .main-nav__link-main--active {
    border-bottom: 2px solid white;
  }
}
