.main-nav__list {
  @include list-reset;
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  padding: 22px;
  display: block;
  box-sizing: border-box;
  font-size: $font-20;
  line-height: 1;
  text-decoration: none;
  color: $black-three;
  border-top: 1px solid $border-c;
}
