.page-footer__logo {
  margin-bottom: 29px;
  display: block;
  text-align: center;
}

.page-footer__social {
  border-top: 1px solid $border-d;
  border-bottom: 1px solid $border-d;
}

.page-footer__social-list {
  @include list-reset;
  width: 130px;
  margin: 0 auto;
  padding: 22px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
