.page-header {
  @include indents-reset;
  color: $black-three;
  text-transform: uppercase;
}

.page-header__logo-wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  width: 191px;
  height: 39px;
  padding: 11px 0 15px;
  display: block;
}

.page-header__logo:hover {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

.page-header__toggle {
  display: block;
  width: 40px;
  height: 29px;
  padding: 0;
  margin-top: 17px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.page-header__icon {
  margin-left: auto;
}

.page-header--opened .page-header__toggle-menu {
  display: none;
}

.page-header--closed .page-header__toggle-menu {
  display: block;
}

.page-header--opened .page-header__toggle-open {
  display: block;
}

.page-header--closed {
  border-bottom: 1px solid $border-c;
}

.page-header--closed .page-header__toggle-open {
  display: none;
}

.page-header--closed .page-header__nav {
  display: none;

  &--active {
    display: block;
  }
}

.page-header--nojs .page-header__toggle {
  display: none;
}

.page-header--nojs .page-header__nav {
  display: block;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    margin: 0 auto;
  }

  .page-header__logo-wrapper {
    @include indents-reset;
    width: 174px;
    display: block;
  }

  .page-header__logo {
    width: auto;
    height: 59px;
    padding: 0;
  }

  .page-header__wrapper {
    padding: 24px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header--closed {
    border-bottom: none;
  }

  .page-header--closed .page-header__nav {
    display: block;
  }
}


@media (min-width: $desktop-width) {
  .page-header {
    width: 1220px;
  }

  .page-header__logo-wrapper {
    width: 203px;
  }

  .page-header__logo {
    height: 60px;
  }

  .page-header__wrapper {
    padding: 53px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
