.shop-programs {
  @include indents-reset;
  box-sizing: border-box;
}

.shop-programs__item {
  padding: 0 20px;
  padding-bottom: 21px;
  margin-bottom: 20px;
  background-color: $grey-back;
}

.shop-programs__name {
  @include indents-reset;
  padding-top: 33px;
  padding-left: 10px;
  font-weight: normal;
  font-size: $font-24;
  text-align: center;
  text-transform: uppercase;
}

.shop-programs__description {
  padding: 18px 0 23px;
  font-family: "Arial", sans-serif;
  border-bottom: 1px solid $border-d;
}

.shop-programs__catalog {
  font-size: $font-16;
  text-decoration: none;
  text-transform: uppercase;
  color: $black-three;
}

.shop-programs__name-mass {
  padding-left: 39px;
}

@media (min-width: $tablet-width) {
  .shop-programs__wrapper {
    width: 708px;
  }

  .shop-programs__item {
    padding: 44px 52px 60px;
    margin-bottom: 30px;
  }

  .shop-programs__name {
    padding: 0;
    padding-top: 32px;
    font-size: $font-36;
    line-height: 1.03;
    text-align: left;
  }

  .shop-programs__description {
    width: 373px;
    padding: 9px 0 36px;
    font-size: $font-16;
    line-height: 1.5;
    border: none;
  }

  .shop-programs__catalog {
    font-size: $font-20;
  }

  .shop-programs__description-slim {
    width: 344px;
  }
}
