.shop-intro {
  @include white;
  @include centering;
  @include block;
  @include phone-width;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat center $green-leaf;
  background-size: cover;
  position: relative;
  margin-bottom: 135px;

  &__header {
    @include zero;
    @include fs-36;
    @include fw-n;
    @include centering;
    @include t-center;
    width: 250px;
    padding-top: 27px;
  }

  &__description {
    @include upper;
    @include centering;
    @include t-center;
    padding-top: 22px;
    padding-bottom: 166px;
  }

  &__images {
    margin: auto;
    position: absolute;
    width: 280px;
    height: 270px;
    top: 166px;
    left: 0;
    right: 0;
  }
}
