.special-offer {
  width: 280px;
  min-height: 289px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat $green-leaf;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/gift-photo-mobile@2x.jpg") no-repeat $green-leaf;
    background-size: cover;
  }
}

.special-offer__gift {
  position: absolute;
  content: "";
  top: 66px;
  fill: $white;
}

.special-offer__header {
  width: 165px;
  margin: 0;
  padding-top: 186px;
  position: absolute;
  z-index: 2;
  font-size: $font-16;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: $white;
}

@media (min-width: $tablet-width) {
  .special-offer {
    width: 708px;
    min-height: 200px;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat $green-leaf;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/gift-photo-tablet@2x.jpg") no-repeat $green-leaf;
      background-size: cover;
    }
  }

  .special-offer__header {
    padding-top: 71px;
    left: 423px;
    text-align: left;
  }

  .special-offer__gift {
    top: 65px;
    left: 91px;
  }
}

@media (min-width: $desktop-width) {
  .special-offer {
    width: 245px;
    min-height: 288px;
    margin-top: 92px;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat $green-leaf;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/gift-photo-desktop@2x.jpg") no-repeat $green-leaf;
      background-size: cover;
    }
  }

  .special-offer__header {
    padding-top: 187px;
    left: 40px;
    text-align: center;
  }

  .special-offer__gift {
    top: 65px;
    left: 96px;
  }
}
