.special-offer {
  background-color: $green-leaf;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.special-offer__gift {
  position: absolute;
  content: "";
  top: 66px;
  fill: $white;
}

.special-offer__header {
  width: 165px;
  margin: 0;
  padding-top: 186px;
  position: absolute;
  z-index: 2;
  font-size: $font-16;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: $white;
}

.special-offer__picture {
  line-height: 0;
}

@media (min-width: $tablet-width) {
  .special-offer__header {
    padding-top: 71px;
    left: 423px;
    text-align: left;
  }

  .special-offer__gift {
    top: 65px;
    left: 91px;
  }
}

@media (min-width: $desktop-width) {
  .special-offer {
    margin-top: 92px;
  }

  .special-offer__header {
    padding-top: 187px;
    left: 40px;
    text-align: center;
  }

  .special-offer__gift {
    top: 65px;
    left: 96px;
  }
}
