.working-principles {
  @include indents-reset;
  margin-bottom: 46px;
}

.working-principles__header {
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  color: $black-three;
}

.working-principles__list {
  @include list-reset;
  margin-top: 42px;
  font-size: $font-14;
  font-family: "Arial", sans-serif;
}

.working-principles__item {
  padding-left: 80px;
  margin-bottom: 26px;
}
