body {
  @include indents-reset;
  min-width: $mobile-width;
  font-family: "Oswald", "Arial", sans-serif;
  color: $greyish-brown;
  font-size: 14px;
  line-height: 1.29;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
