@mixin zero {
  padding: 0;
  margin: 0;
}

@mixin centering {
  margin: 0 auto;
}

@mixin indents {
  padding: 0 20px;
}

@mixin phone-width {
  min-width: $phone-width;
}

@mixin w-280 {
  width: $w-280;
}

@mixin w-320 {
  width: $w-320;
}

@mixin tablet-width {
  width: 768px;
}

@mixin desktop-width {
  width: 1300px;
}

@mixin black-three {
  color: $black-three;
}

@mixin white {
  color: $white;
}

@mixin brown {
  color: $greyish-brown;
}

@mixin grey-back {
  background-color: $grey-back;
}

@mixin green-leaf {
  background-color: $green-leaf;
}

@mixin fs-12 {
  font-size: 12px;
}

@mixin fs-14 {
  font-size: 14px;
}

@mixin fs-16 {
  font-size: 16px;
}

@mixin fs-20 {
  font-size: 20px;
  line-height: 1;
}

@mixin fs-24 {
  font-size: 24px;
}

@mixin fs-36 {
  font-size: 36px;
  line-height: 1;
}

@mixin fw-n {
  font-weight: normal;
}

@mixin Arial {
  font-family: "Arial", sans-serif;
}

@mixin none {
  list-style: $none;
}

@mixin no-decoration {
  text-decoration: $none;
}

@mixin t-center {
  text-align: center;
}

@mixin upper {
  text-transform: uppercase;
}

@mixin block {
  display: block;
  box-sizing: border-box;
}

@mixin border-box {
  box-sizing: border-box;
}
