/*Variables for colors*/
$white: #ffffff;
$light: #eaeaea;
$light-cream: #cccccc;
$slider-back: #dcdcdc;
$map-back: #eeedeb;
$black-three: #111111;
$black: #222222;
$greyish-brown: #444444;
$grey: #666666;
$border-c: #ededed;
$border-d:  #cdcdcd;
$green-leaf: #68b738;
$grey-back: #f2f2f2;

/*Variables for widths*/
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/*Variables for font-sizes*/
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-36: 36px;
$font-60: 60px;
